{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>JiHyun 댓글 수집 집계</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% include 'include/nav_test.html' %}
    <link rel = "stylesheet" href= "{% static 'css/test.css' %}">
</head>


<body>       
    <div class="container">
        <button class = "btn"><a href = "../JiHyun_Act/" style = "color : white;">활성화</a></button>
        <button class = "btn"><a href = "../JiHyun_Com/" style = "color : white;">댓글</a></button>
        <button class = "btn"><a href = "../JiHyun_Cap/" style = "color : white;">캡처</a></button>
        <button class = "btn"><a href = "../JiHyun_Htag/" style = "color : white;">해시태그</a></button>
        <button class = "btn"><a href = "../JiHyun_Script/" style = "color : white;">스크립트</a></button>
        <h4 class="text-center" style = "color: white;">JiHyun 댓글수집</h4><br>            
        <table class="table table-dark table-striped">
                    <form class="form-inline my-2 my-lg-0" action="{% url 'JiHyun_Com' %}" method="get">
                        <button class="btn float-right" type="submit">Search</button>
                        <input class="form-control float-right" type="search" placeholder="Search" aria-label="Search" name="q" value="{{q}}" style = "width : 300px; height:50px;">
                    </form>

                        <p></p>
                        {% if selected_entries %}
                        <thead>   
                            <tr>
                                <th style = "color: white;">비디오명</th>
                                <th style = "color: white;">작성자</th>
                                <th style = "color: white;">댓글</th>
                                <th style = "color: white;">댓글 크롤링 시간</th>
                                <th style = "color: white;">감정분석결과</th>
                            </tr>
                        </thead>    
                        <tbody >
                            {% for blog in selected_entries %}
                                            <tr>
                                                <td title = "{{blog.video_name}}" >{{ blog.video_name|truncatechars_html:10 }}</td>
                                                <td>{{ blog.com_id }}</td>
                                                <td title = "{{blog.comment}}">{{ blog.comment|truncatechars_html:14 }}</td>
                                                <td>{{ blog.comment_get }}</td>
                                                <td>{{ blog.sense }}</td>{% comment %}<a href="{% url 'detail' blog.id %}"> ...자세히 보기</a></p>  {% endcomment %}
                                            </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        
                    
                    <br/><br/>
                    
                
                        {% if all_entries and not blogs%}  
                        <thead>
                            <tr>
                                <th style = "color: white;">비디오명</th>
                                <th style = "color: white;">작성자</th>
                                <th style = "color: white;">댓글</th>
                                <th style = "color: white;">댓글 크롤링 시간</th>
                                <th style = "color: white;">감정분석결과</th>
                            </tr>
                        </thead>        
                        <tbody>
                            <!-- jinja2 Technique -->                            
                            
                            {% for i in all_entries %}
                            <tr>
                                <td title = "{{i.video_name}}">{{i.video_name|truncatechars_html:10 }}</td>
                                <td>{{i.com_id}}</td>
                                <td title = "{{i.comment}}"  >{{i.comment|truncatechars:14 }}</td>
                                <td>{{i.comment_get}}</td>
                                <td>{{i.sense}}</td>
                            </tr>
                            {% endfor %}
                        {% endif %}                            
                        </tbody>
        </table>

        <nav aria-label="...">
            <ul class="pagination justify-content-center">
                
            <!-- 검색내용이 있을 때 -->    
            {% if query %}
                                
                {% if all_entries.has_previous %}
                
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page=1">&laquo; 이전</a> 
                    </li>
                        
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page={{ all_entries.previous_page_number }}">{{ all_entries.previous_page_number }}</a>
                    </li>    
                {% else %}

                    <li class="page-item disabled">
                        <a class="page-link" href="#" class="page-item disabled">&laquo; 이전</a>  
                    </li> 
                
    
            {% endif %}
                <li class="page-item active">
                <a class="page-link" href="#">{{ all_entries.number }}<span class="sr-only">(current)</span></a>
                </li>
    
                {% if all_entries.has_next %}
                    
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page={{ all_entries.next_page_number }}">{{ all_entries.next_page_number }}</a>
                    </li>
    
                    <li class="page-item">
                        <a class="page-link" href="?q={{ query }}&page={{ all_entries.paginator.num_pages }}">다음 [ {{ all_entries.paginator.num_pages }} ] &raquo;</a> 
                    </li>
    
                {% else %}

                    <!-- <li class="page-item disabled"></li>
                        <a class="page-link" href="#" class="page-item disabled">next</a>
                    </li> -->
    
                    <li class="page-item disabled">
                    <a class="page-link" href="#" class="page-item disabled">다음 [ {{ all_entries.paginator.num_pages }} ] &raquo;</a>  
                    </li> 
                
                {% endif %}
    
            <!-- 검색내용이 있을때 -->
            {% else %}
        
            
                {% if all_entries.has_previous %}
                            
                    <li class="page-item">
                        <a class="page-link" href="?page=1">&laquo; 이전</a> 
                    </li>
                        
                    <li class="page-item">
                        <a class="page-link" href="?page={{ all_entries.previous_page_number }}">{{ all_entries.previous_page_number }}</a>
                    </li>
        
                {% else %}
        
                    <li class="page-item disabled">
                        <a class="page-link" href="#" class="page-item disabled">&laquo; 이전</a>  
                    </li> 
                
                <!-- <li class="page-item disabled"></li>
                    <a class="page-link" href="#" class="page-item disabled">previous</a>
                </li> -->
        
                {% endif %}
        
        
                <li class="page-item active">
                <a class="page-link" href="#">{{ all_entries.number }}<span class="sr-only">(current)</span></a>
                </li>
        
        
                {% if all_entries.has_next %}
                    
                    <li class="page-item">
                        <a class="page-link" href="?page={{ all_entries.next_page_number }}">{{ all_entries.next_page_number }}</a>
                    </li>
        
                    <li class="page-item">
                        <a class="page-link" href="?page={{ all_entries.paginator.num_pages }}">다음 [ {{ all_entries.paginator.num_pages }} ] &raquo;</a> 
                    </li>
        
                {% else %}
                            
                    <!-- <li class="page-item disabled"></li>
                        <a class="page-link" href="#" class="page-item disabled">next</a>
                    </li> -->
        
                    <li class="page-item disabled">
                    <a class="page-link" href="#" class="page-item disabled">다음 [ {{ all_entries.paginator.num_pages }} ] &raquo;</a>  
                    </li> 
                
                {% endif %}
        
        
            {% endif %}
        
            </ul>
        </nav>
        
        <!--차트 그리기 시각화-->
        <p> </p>
        <br>
        <canvas id="pie-chart2"  width="500" height="200"></canvas>


        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script>

            var config = {
            type: 'pie',
            data: {
                datasets: [{
                data: {{ data2|safe }},
                backgroundColor: [
                    '#000099', '#3366ff', '#666666', '#999999', '#D3D3D3'
                ],
                label: 'sense'
                }],
                labels: {{ labels2|safe }}
            },
            options: {
                responsive: true
            }
            };

            window.onload = function() {
            var ctx = document.getElementById('pie-chart2').getContext('2d');
            window.myPie = new Chart(ctx, config);
            };

        </script>
    </div>
</body>
{% include 'include/footer.html' %}
</html>